@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin felxCenter($direction, $align, $content){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
@mixin heigWid($h, $w){
    height: $h;
    width: $w;
}

@mixin title-model-auth(){
    color: #656262;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    width: 504px;
    text-align: center;
    span{
        color: #3E60D9;
    }
}
